 
<!DOCTYPE html>
<html>
<head>
    <title>Cannot Delete Author</title>
</head>
<body>
    <h1>{{ author.name }} silinemiyor</h1>
    
    {% if protected_books %}        
        <p><strong>Uyarı:</strong> Yazarın silinmesi durumunda aşağıdaki kitaplar da etkilenecektir:</p>
        <ul>
            {% for book in protected_books %}
            
                <li><a href="{% url 'delete_book' book.id %}">{{ book.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if protected_notes %}
        
        <p><strong>Uyarı:</strong> Yazarın silinmesi durumunda aşağıdaki notları silmen gerekecek</p>
        <ul>
            {% for note in protected_notes %}
               
                <li><a href="{% url 'delete_note' note.id %}">{{ note.note }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <p>Yazarı silmek istediğinizden emin misiniz?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sil</button>
    </form>
    
    <a href="{% url 'author_list' %}">Yazarlar</a>
</body>
</html>
